* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.left_part {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.first,
.second,
.third {
  flex-basis: 33.3%;
  box-sizing: border-box;
  overflow: hidden;
}

h2 {
  padding: 5px 15px;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;

  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100% - 27px);
  background-color: black;
  color: white;
}

.right_part {
  flex-basis: 50%;
  height: 100%;
  box-sizing: border-box;
  border: 4px solid black;
}
.right_part h2 {
  text-align: center;
  background-color: antiquewhite;
}

iframe {
  width: 100%;
  height: 95%;
}

/* --------------- media queries ------------- */

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 5px;
  }
}
